<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reset Password</title>
        <link href="/styles/bootstrap.min.css" rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css"/>
    </head>
    <body>

        <h1>Reset Password</h1>

        <form action="#" th:action="@{/reset}" method="POST">
            
            <p><label for="password">Password</label>: <input type="text" name="password" id="password"/></p>
            
            <p><label for="confirm">Confirm</label>: <input type="text" name="confirm" id="confirm"/></p>
            
            <p><input type="submit" class="btn" value="Submit" /></p>
            
        </form>

        <p></p>
        <script th:src="@{/scripts/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/scripts/bootstrap.min.js}" type="text/javascript"></script>
    </body>
</html>